header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin: 20px auto;
  background-color: #dddddd;
  border-radius: 4px;
}

.header__link {
  text-decoration: none;
  color: #444444;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 12px;

  &--home {
    position: absolute;
    left: 0;
    bottom: 10%;
    font-size: 48px;
  }
}

.circle {
  position: absolute;
  right: 0;
  background: black;
  border-radius: 50%;
  height: 100px;
  width: 150px;
  margin: 0;
  box-shadow: 1px 2px 10px 5px rgba(112, 107, 107, 0.2);
  background: radial-gradient(circle at 100px 100px, #ccc, #eee);
  animation: bubble-anim 2s ease-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: radial-gradient(circle at 80px 80px, #111, #555);
    color: white;
  }

  @media (max-width: 768px) {
    height: 60px;
    width: 90px;

    &:hover {
      background: radial-gradient(circle at 100px 100px, #ccc, #eee);
      color: #444444;
    }
  }
}

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1) rotate(30deg);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05) scaleZ(0.9) rotate(30deg);
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9) rotate(30deg);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02) rotate(30deg);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98) rotate(30deg);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1) rotate(30deg);
  }
}
