header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: 20px auto;
  background-color: #dddddd;
  border-radius: 4px;
}

.header__link {
  text-decoration: none;
  color: #444444;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 12px;

  &--home {
    font-size: 48px;
  }
}

.header__reader-view {
  margin: 12px;
  opacity: 1;
  pointer-events: auto;

  &--line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    border-radius: 1px;

    &--last {
      width: 16px;
    }
  }

  @media (max-width: 768px) {
    opacity: 0;
    pointer-events: none;
  }
}
