* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  // background-color: #cccccc;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  margin: 24px auto;
  max-width: 650px;
  // padding: 18px 48px;
  padding: 0 10px;
  min-height: 100vh;
  // box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.layout {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
