* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  margin: 0;
  padding: 0;
}

body {
  transition: 0.5s background-color;

  background-color: #cccccc;

  @media (max-width: 768px) {
    background-color: #eeeeee;
  }
}

.container {
  transition: 0.2s all;

  background-color: #eeeeee;
  margin: 24px auto;
  max-width: 750px;
  padding: 18px 48px;
  min-height: 100vh;
  box-shadow: 1px 2px 11px 10px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    padding: 0 10px;
    box-shadow: none;
  }
}

.layout {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
