.book-page {
  display: flex;
  justify-content: center;

  &__book {
    position: absolute;
    max-width: 600px;
    padding: 24px;
  }
}

.back-button {
  text-decoration: none;
  color: black;
  margin: 24px;
  top: 24px;
  position: absolute;
  z-index: 2;

  &:hover {
    text-decoration: underline;
  }
}
