.index-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.thumbnail {
  // width: 33.333%;
  // min-width: 400px;
}

.thumbnail-content {
  padding: 10px;
}

.author {
  //
}

.thumbnail img {
  width: 100%;
}

.intro {
  position: absolute;
  max-width: 600px;
  padding: 24px;
  font-size: 24px;
  line-height: 36px;
}

.intro:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 36px;
}
