html,
body {
  background-color: #eeeeee;
}

body {
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
}

.layout {
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
}

footer {
  bottom: 0;
  position: absolute;
  height: 2.5rem;
}
